# Dependencies
node_modules/

# Next.js build outputs
.next/
out/

# TypeScript incremental cache
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Local caches
.npm-cache/

# OS files
.DS_Store
Thumbs.db
